<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="utilities :: headTags"></div>
		<title>Pizze</title>
	</head>
	<body>
    <div class="container">
        <h1 class="mt-2">Pizze</h1>
        <hr/>
        <div class="mb-1">
			<a class="btn btn-primary" th:href="@{/pizze/create}">Aggiungi pizza</a>
		</div>
		<div class="mb-1">
			<a class="btn btn-primary" th:href="@{/ingredienti/create}">Aggiungi ingredienti</a>
		</div>
        <ul class="list-group" th:if="${list.size() > 0}">
            <li class="list-group-item d-flex justify-content-between align-items-start" th:each="item : ${list}">
                <div class="ms-1">
                    <div th:text="${item.nome}"></div>
                    <span th:text="${item.ingredientiToString()}"></span>
                </div>
                <span th:text="${item.prezzo}"></span>
                <a class="btn btn-primary" th:href="@{|/pizze/delete/${item.id}|}"><i class="fas fa-trash-alt"></i></a>
                <a class="btn btn-primary" th:href="@{|/pizze/edit/${item.id}|}"><i class="fas fa-edit"></i></a>
            </li>
        </ul>
        <p th:unless="${list.size() > 0}">Non trovo pizze</p>
    </div>
    <div th:replace="utilities :: scripts"></div>
	</body>
</html>